* {
    padding: 0;
    margin: 0;
}

.background {
    background-color: #c68c53a8;
}

.note {
    font-family: "Architects Daughter";
    width: 95%;
    margin: auto;
}

.note_button {
    margin-left: 5%;
}

.note_result {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 3%;
}

.note_input {
    display: none;
    position: absolute;
    font-size: 24px;
    top: 26%;
    left: 15%;
}

#note_input__text {
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    outline: none;
    border: none;
    width: 225px;
    height: 225px;
    padding: 40px 25px 25px 25px;
}

.nodeNew {
    width: 85px;
    height: 85px;
    font-size: 12px;
    padding: 5px;
    margin-top: 7px;
    word-break: break-all;
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.75);
}

#note_input__check,
#note_input__x {
    color: grey;
    width: 1em;
    height: 1em;
}

#note_input__check {
    position: absolute;
    right: 17%;
    top: 4%;
}

#note_input__x {
    position: absolute;
    right: 5%;
    top: 4%;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .note_input {
        left: 22%;
    }

    .note_result {
        margin-left: 5%;
    }

    .nodeNew {
        width: 100px;
        height: 100px;
        font-size: 12px;
        padding: 10px;
        margin-top: 8px;
    }
}

@media screen and (min-width: 768px) {
    .note_input {
        left: 40%;
    }

    .note_result {
        margin-left: 5%;
    }

    .nodeNew {
        width: 200px;
        height: 200px;
        font-size: 26px;
        padding: 15px;
        margin-top: 10px;
    }
}
